<md-dialog aria-label="{{comicInfo.name}}" class="sizeM">
    <div class="closeBtn" ng-click="closeModal()"></div>
    <md-dialog-content class="align">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <img class="imgModal" src="{{comicInfo.thumbnail.path}}.{{comicInfo.thumbnail.extension}}">
        </div>
        <div class="left col-lg-7 col-md-7 col-xs-12">
            <div class="md-dialog-content">
              <h2><b>{{comicInfo.title}}</b></h2>
              <p>{{comicInfo.description}}</p>
              <p ng-if="comicInfo.description == '' || comicInfo.description == null">In this moment this comic not have an available description yet</p>
            </div>
        </div>
      </div>
    </md-dialog-content>
  <div class="footer">
    <div id="favourites" class="btns addFa" ng-click="addFavourites()">
      <div id="favouris" class="iconFa"></div>
      <div class="textDiv"><b> ADD TO FAVOURITES</b></div>
    </div>
    <div class="btns buy"> 
      <div class="iconCart"></div>
      <div class="textDiv"><b> BUY FOR ${{comicInfo.price}} </b></div>
    </div>
  </div>
  </md-dialog-actions>
</md-dialog>